
<div class="main">
  <h3>Welcome to Mousehunt Collector</h3>
  <p>This app is designed as a companion to players of the game <%= link_to  "Mousehunt", "https://www.mousehuntgame.com" %>, which is also available on Facebook. Having been a slow but steady player over the last 9 years, I decided it was time to put away my excel spreadsheet and develop a better inventory acquisition tracker.
  <p>This is a place to search and review all of the available Weapons, Bases, and other collectible items needed to play the game. If you'd like a better understanding, please see the <%= link_to  "MH Wiki", "https://mhwiki.hitgrab.com/wiki/index.php/MouseHunt_Wiki" %>
  <p>Currently available: Ranks and their Locations</p>
  <%= link_to  "Ranks Index", ranks_url %><br>
  <%= link_to  "Locations Index", locations_url %>
</div>
