
<div class="main">
  <h3>Welcome to the Main Page</h3>
  <p>Currently available: Ranks and their Locations</p>
  <%= link_to  "Ranks Index", ranks_url %><br>
  <%= link_to  "Locations Index", locations_url %>
</div>
