<h2>Sign in to use MH Collector!</h2>

<form id="sign_in_form" action="<%= session_path %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <p>
  <label for="user_email">Email: </label>
  <input type="text" id="user_email" name="user[email]" value="">
  </p>
  <input type="submit" value="Sign in!">
</form>
<br>
<br>
<%= link_to  "Nevermind, take me back", root_path %>