$color-main: rgb(59, 10, 150);
.userstats {
  &__container {
  display: flex;
  flex-direction: column;
  border: 6px double $color-main;
  border-radius: 6px;
  margin: 20px 0px;
  }

  &__greeting {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  &__weapons-stats {
    display: flex;

  }
  &__item-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 45px;
    height: 45px;
    font-size: 14px;
  }
}