<h2>Add a Mouse!</h2>
<p>Please note, while updates are underway, make sure the location you are adding the mouse to exists first.</p>
<%= render 'shared/errors' %>

<form id="mouse_add_form" action="<%= mice_path %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <label for="mouse_name">Name: </label>
  <input type="text" id="mouse_name" name="mouse[name]" value="">
  <label for="mouse_gold">Gold: </label>
  <input type="number" id="mouse_gold" min="10" name="mouse[gold]" value="" placeholder="10">  
  <label for="mouse_points">Points: </label>
  <input type="number" id="mouse_points" name="mouse[points]" min="0" value="" placeholder="100">


  <input type="submit" value="Update mouse info">
</form>

<%= link_to  "Go back", mouse_path(@mouse) %>