<h2>Sign in to track your stuff!</h2>

<form id="sign_in_form" action="<%= new_session_path %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <p>
  <label for="user_email">Email: </label>
  <input type="text" id="user_email" name="user[email]" value="<%= @user.email %>">
  </p>
  <input type="submit" value="Sign in!">
</form>