<h4>Howdy <%= @user.username %></h4>
<div class="user-info-box">
  <p>Your current rank is: <%= @user.rank.title %>
</div>
<br />
<br />
<br />
<%= link_to  "Update my info", edit_user_path(@user) %><br />
<%= link_to  "Take me Home", root_path %>