<div class="table_container">
  <%= items.first.itype.capitalize %> Items
  <% if items.first  %>
    <table id="items_list">
      <thead>
        <tr>
          <th>Name</th><th>LE?</th>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <td><%= link_to  item.name, item_path(item) %></td>
            <td><%= item.le ? "LE" : "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Nothing to list yet!
  <% end %>


</div>
<br>
<br>