<h2>All the Items!</h2>

<% if !!current_user %>
  <%= link_to  "Add an Item", new_item_path %>
<% else %>
  <p>Want to help add some stuff? Just make an account to unlock access.</p>
<% end %>

<ul>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

<br>
<br>
<%= link_to  "Back to Main", root_path %>