/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$color-main: rgb(59, 10, 150);

a:link {
  color: $color-main;
}
a:visited {
  color:$color-main;
}
a:hover{
  color:$color-main;
}
a:focus{
  color:$color-main;
}
a:active{
  color:$color-main;
}


/* Page Styling */

#page-container {
  position: relative;
  min-height: 100vh;
  font-size: 16px;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#content-body {
  flex-direction: column;
  margin: 20px 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(63, 88, 134, 0.5);
}

.wordmark {
  font-size: 24px;
  color: $color-main;
}

.header {
  
  &__container {

    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: center;
    margin: 0px;
    border-bottom: 3px solid $color-main;

    &--left {
      margin-left: 8px;
    }
    &--right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 8px;
    }
  }



}
.user-info {
  padding: 10px;
  color: $color-main;
}


.header__right > a {
  margin: 6px;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}

.welcome-message {
  margin-right: 4px
}

.logout-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}