// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#header {

}

.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  color: darkslateblue;
}

.header__right {
  display: flex;
  min-width: 250px;
  justify-content: space-around;
}