<h2><%= @region.name %></h2>

<h4>Locations</h4>
<%= render  partial: "locations/locations_table", locals: { locations: @region.locations } %>


<br>
<br>
<%= link_to  "Back to regions", regions_path %>