<div class="table_container">
<table id="mice_for_locations_table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% location.mouse_locations.each do |ml| %>
      <tr>
        <td>
          <%= link_to  ml.mouse.name, mouse_path(ml.mouse) %>
          <form action="<%= location_mouse_path(location, ml) %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Remove">
          </form>
      </td></tr>
    <% end %>
  </tbody>
</table>
</div>