<h2>Locations Page</h2>
<% if current_user %>
  <%= render  partial: "add_location_link" %>
<% else %>
  <p>Want to help add location info? Just make an account to unlock access.</p>
<% end %>

<br>
<br>
<div class="locations_table_container">
<table id="locations_list">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    
    <% @locations.each do |loc| %>
      <tr><td> <%= link_to  loc.name, location_path(loc) %></td></tr>
    <% end %>
    
  </tbody>
</table>
</div>
<br>
<br>
<%= link_to  "Back to Main", root_path %>